<!DOCTYPE html>
<html>
<head>
  <title>Subir Imagen</title>
</head>
<body>
  <h1>Subir Imagen</h1>
  <form action="/crearActivo" method="POST" enctype="multipart/form-data">
      <label for="img">Imagen:</label>
      <input type="file" id="img" name="img" accept="image/*" required>
    </div>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
